<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5 tile-left-section">
                <span class="tile-type fa fa-comments fa-4x"></span>
                <span class="tile-text-left">{{tile-name}}</span>
            </div>
            <div class="col-xs-7 tile-right-section ">
                <div class="tile-data-count">{{tile-percent}}</div>
                <div class="tab-type-text">
                    <span class="tile-percent-change">{{tile-percent-change}}</span>
                    <span class="tile-period-parameter">{{tile-period-param}}</span>
                </div>
            </div>
        </div>
    </div>
</div>