.mod-right-now{
	.people-count{
		font-size: 25px;
		color: $color-lightblue;
		margin-top: 10px;
	}
	.right-now-data{
		margin-top: 40px;
	}

	.people-text{
		font-size: 15px;
	}
	.mod-current-shoppers{
		margin-top: 40px;	
	}
}